---
layout: default
---
<div class="container">
    <h4>about</h4>
    <div class="row content">
        <div class="col-md-6">
            <p>welcome. each of the projects here represents a unique slice of myself and my interests. together, they explore my attempts to meld computer science and design into one. some of my overall interests include time, the sharing economy, context awareness, machine learning, and generative design.</p>
            <p>i am currently on leave from princeton university, where i was studying computer science with a minor in visual arts and engineering management systems. in my spare time, i enjoy reading, photography, music, and traveling.</p>
            <p>let's explore together.</p>
        </div>
    </div>

    <h4>projects</h4>
    <div class="row">
        <div class="col-md-9 content">

            <ul class="list-inline">
                {% for post in site.projects %}
                <li>
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <h4>design</h4>
    <div class="row">
        <div class="col-md-9 content">

            <ul class="list-inline">
                {% for post in site.design %}
                <li>
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <h4>other</h4>
    <div class="row">
        <div class="col-md-9 content">

            <ul class="list-inline">
                {% for link in site.data.links %}
                <li>
                    <a href="{{ link.address }}">{{ link.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br/>
</div>