<div class="container">

    <div id="media">
        <ul class="list-inline">
            <li><a href="/files/eric-li-resume.pdf">resumé</a>
            </li>
            <li><a href="https://github.com/eli8527">github</a>
            </li>
            <li><a href="https://www.linkedin.com/in/ericyoungli">linkedin</a>
            </li>
            <li><a href="https://twitter.com/eli8527">twitter</a>
            </li>
        </ul>
        <p><small>copyright <span id="year"></span> eric li.</small></p>
    </div>
